* {
	margin: 0;
	padding: 0;
}

body {
	/*image by Zhao Chen @unsplash:  https://unsplash.com/photos/ytYc8VkMVL0 */
	background-image: url("./a8.jpg");
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;
}

body::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
}

.h1 {
	font-family: 'Great Vibes', cursive;
	color: #fff;
	text-align: center;
	font-size: 38px;
	letter-spacing: 0.1em;
	text-shadow: 3px 2px #333333;
	width: 100%;
}

#countdown {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-family: arial;
	font-size: 38px;
	color: #fff;
	/* text-shadow: 3px 2px #333333; */
	text-align: center;
	padding: 15px;
	border: 10px solid #fff;
	width: 700px;
	font-family: 'Great Vibes', cursive;
	box-shadow: 3px 3px 3px #333333;
	width: 55%;
}

#countdown span {
	color: yellow;
}

.container {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 66%;
	height: 50vh;
	z-index: 999;
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}
	.h1 {
		font-size: 18px;
		font-weight: 600;
	}

	#countdown {
		font-size: 22px;
		border-width: 4px;
		font-weight: 600;
	}
}
